@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}


.topnav {
  overflow: hidden;
  float: right;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {

  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  background: #ffffff center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  position: relative;
}
.col-5 {
  height: 765px;
  overflow: hidden;
  padding: 23px 0 0;
  position: relative;
  background: url(images/rectangle_2.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row-9 {
  margin: 0 auto;
  position: relative;
  width: 79%; /* 1264px / 1600px = 79% */
}
.wrapper-18 {
  float: left;
  position: relative;
  width: 9.018988%; /* 114px / 1264px = 9.018988% */
}
.layer-1 {
  float: left;
  margin: 0 -6.140351% 0 0; /* -7px / 114px = -6.140351% */
  width: 50px;
}
.nurgo {
  margin: 6px 0 0 37.7193%; /* 43px / 114px = 37.7193% */
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.text-2 {
  float: right;
  margin: 5px 0 0;
  width: 27px;
}
.text {
  float: right;
  margin: 4px 4.03481% 0 0; /* 51px / 1264px = 4.03481% */
  color: #272a2a;
}
.row-7 {
  left: 3.09375%;
  margin: 14px auto 0;
  position: relative;
  width: 79.6875%; /* 1275px / 1600px = 79.6875% */
}
.col-25 {
  float: left;
  margin: 152px 0 0;
  position: relative;
  width: 38.19608%; /* 487px / 1275px = 38.19608% */
}
.text-3 {
  position: relative;
  color: #15e4d0;
  font-size: 93px;
  font-weight: 600;
  line-height: 75.4px;
}
.text-4 {
  margin: -1px 0 0 0.821355%; /* 4px / 487px = 0.821355% */
  position: relative;
  color: #252525;
  font-weight: 600;
}
.row-13 {
  margin: 53px 0 0 0.821355%; /* 4px / 487px = 0.821355% */
  position: relative;
  width: 75.359344%; /* 367px / 487px = 75.359344% */
}
.rectangle-3-holder {
  float: left;
  margin: 0 3.542234% 0 0; /* 13px / 367px = 3.542234% */
  min-height: 39px;
  padding: 0 0 0 1.634877%; /* 6px / 367px = 1.634877% */
  width: 48.22888%; /* 177px / 367px = 48.22888% */
  background: #4bc5b8;
  color: #f6f8f8;
  line-height: 39px;
  text-align: center;
}
.rectangle-3-copy-holder {
  float: left;
  min-height: 39px;
  width: 48.22888%; /* 177px / 367px = 48.22888% */
  background: #252525;
  color: #f6f8f8;
  line-height: 39px;
  text-align: center;
}
.row-14 {
  margin: 62px 0 0 0.821355%; /* 4px / 487px = 0.821355% */
  position: relative;
  width: 21.560575%; /* 105px / 487px = 21.560575% */
}
.ellipse-1-holder {
  float: left;
  margin: 0 10.476191% 0 0; /* 11px / 105px = 10.476191% */
  padding: 16px 0 14px;
  position: relative;
  width: 44.761906%; /* 47px / 105px = 44.761906% */
  border: 3px solid #4bc5b8; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.text-7 {
  display: block;
  margin: 0 auto;
  width: 11px;
}
.ellipse-1-copy-holder {
  float: left;
  padding: 14px 0 15px;
  position: relative;
  width: 44.761906%; /* 47px / 105px = 44.761906% */
  border: 3px solid #252525; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.text-8 {
  display: block;
  margin: 0 auto;
  width: 11px;
}
.doctor-37707 {
  float: right;
  max-width: 633px;
  width: 49.64706%; /* 633px / 1275px = 49.64706% */
}
.rectangle-1 {
  display: block;
  height: 74px;
  left: 18.9375%;
  margin: 73px auto 0;
  position: relative;
  width: 62.125%; /* 994px / 1600px = 62.125% */
  -webkit-border-radius: 35px 0 0 35px;
  -moz-border-radius: 35px 0 0 35px;
  border-radius: 35px 0 0 35px;
  background: #ffffff;
}
.shape-2 {
  display: block;
  margin: -26px auto 0;
  position: relative;
  right: 12.5%;
  width: 70px;
}
.main-content-wrapper {
  margin: 159px 0 0;
  position: relative;
}
.text-9 {
  margin: 0 0 0 13.625%; /* 218px / 1600px = 13.625% */
  color: #252525;
  font-size: 50px;
  font-weight: bold;
}
.text-10 {
  margin: 3px auto 0;
  width: 73.125%; /* 1170px / 1600px = 73.125% */
  color: #252525;
  line-height: 27.4px;
}
.row-17 {
  left: 4.28125%;
  margin: 19px auto 0;
  position: relative;
  width: 81.5625%; /* 1305px / 1600px = 81.5625% */
}
.wrapper-25 {
  float: left;
  height: 442px;
  margin: 67px 0 0;
  position: relative;
  width: 53.563217%; /* 699px / 1305px = 53.563217% */
}
.rectangle-4 {
  height: 442px;
  left: 0;
  position: absolute;
  top: 0;
  width: 58.3691%; /* 408px / 699px = 58.3691% */
  background: #cfedf0;
}
.rectangle-5 {
  left: 11.874105%;
  position: absolute;
  top: 39px;
  width: 87.982834%; /* 615px / 699px = 87.982834% */
  -webkit-box-shadow: 0 0 43px 0 rgba(22, 22, 23, 0.1);
  -moz-box-shadow: 0 0 43px 0 rgba(22, 22, 23, 0.1);
  box-shadow: 0 0 43px 0 rgba(22, 22, 23, 0.1); /*drop shadow*/
}
.col-2 {
  left: 11.731045%;
  min-height: 366px;
  padding: 149px 5.293276% 37px; /* 37px / 699px = 5.293276% */
  position: absolute;
  top: 37px;
  width: 88.26896%; /* 617px / 699px = 88.26896% */
  background: rgba(27, 236, 222, 0.88);
}
.ellipse-3-holder {
  margin: 0 auto;
  padding: 21px 0 22px;
  position: relative;
  right: 1.104972%;
  width: 10.865561%; /* 59px / 543px = 10.865561% */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #252525;
}
.text-11 {
  display: block;
  margin: 0 auto;
  width: 17px;
}
.text-12 {
  margin: 101px 0 0;
}
.rectangle-5-copy {
  float: left;
  margin: 106px 0 0 2.222222%; /* 29px / 1305px = 2.222222% */
  width: 30.344828%; /* 396px / 1305px = 30.344828% */
  -webkit-box-shadow: 0 7px 142px 0 rgba(22, 22, 23, 0.07);
  -moz-box-shadow: 0 7px 142px 0 rgba(22, 22, 23, 0.07);
  box-shadow: 0 7px 142px 0 rgba(22, 22, 23, 0.07); /*drop shadow*/
}
.medical {
  float: right;
  width: 69px;
}
.row-12 {
  margin: 69px 0 0 3.125%; /* 50px / 1600px = 3.125% */
  position: relative;
  width: 24.125%; /* 386px / 1600px = 24.125% */
}
.biopsy {
  float: left;
  margin: 0 18.393782% 0 0; /* 71px / 386px = 18.393782% */
  width: 95px;
}
.row {
  float: left;
  margin: 10px 0 0;
  min-height: 57px;
  padding: 20px 11.658031% 18px; /* 45px / 386px = 11.658031% */
  position: relative;
  width: 56.99482%; /* 220px / 386px = 56.99482% */
  background: #1becde;
}
.text-13 {
  float: left;
  margin: 0 1.538462% 0 0; /* 2px / 130px = 1.538462% */
  width: 76.15385%; /* 99px / 130px = 76.15385% */
  font-weight: 600;
}
.text-14 {
  float: left;
  margin: 5px 0 0;
  width: 18px;
}
.row-4 {
  height: 654px;
  margin: 95px 0 0;
  overflow: hidden;
  padding: 215px 13.3125% 256px; /* 213px / 1600px = 13.3125% */
  position: relative;
  background: url(images/rectangle_6.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-6 {
  float: left;
  margin: 28px 6.81431% 0 0; /* 80px / 1174px = 6.81431% */
  position: relative;
  width: 67.97274%; /* 798px / 1174px = 67.97274% */
}
.text-15 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -0.02em;
}
.text-16 {
  margin: 15px 0 0 0.37594%; /* 3px / 798px = 0.37594% */
  width: 99.62406%; /* 795px / 798px = 99.62406% */
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 20px;
}
.ellipse-2-copy-2-holder {
  float: left;
  padding: 25px 0 26px;
  position: relative;
  width: 15.587734%; /* 183px / 1174px = 15.587734% */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.81);
}
.ellipse-2-holder {
  margin: 0 auto;
  padding: 22px 0 21px;
  position: relative;
  width: 72.13115%; /* 132px / 183px = 72.13115% */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.49);
}
.ellipse-2-copy-holder {
  margin: 0 auto;
  padding: 33px 0 34px;
  position: relative;
  width: 67.42424%; /* 89px / 132px = 67.42424% */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #0f0e0e;
}
.shape-3 {
  display: block;
  margin: 0 auto;
  width: 15px;
}
.rectangle-1-copy {
  height: 74px;
  margin: -71px 0 0;
  position: relative;
  width: 62.6875%; /* 1003px / 1600px = 62.6875% */
  -webkit-border-radius: 0 35px 35px 0;
  -moz-border-radius: 0 35px 35px 0;
  border-radius: 0 35px 35px 0;
  background: #ffffff;
}
.shape-2-copy {
  display: block;
  left: 13.0625%;
  margin: -26px auto 0;
  position: relative;
  width: 70px;
}
.text-17 {
  margin: 110px 0 0 13.4375%; /* 215px / 1600px = 13.4375% */
  color: #0f0e0e;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -0.02em;
}
.text-18 {
  margin: 12px 0 0 13.375%; /* 214px / 1600px = 13.375% */
  color: #252525;
  letter-spacing: -0.02em;
}
.wrapper-22 {
  height: 330px;
  margin: 73px auto 0;
  position: relative;
  width: 73.125%; /* 1170px / 1600px = 73.125% */
}
.rectangle-7-holder {
  left: 0;
  margin: 0 10.17094% 0 8.803419%; /* 119px / 1170px = 10.17094%, 103px / 1170px = 8.803419% */
  min-height: 330px;
  padding: 175px 0 63px;
  position: absolute;
  top: 0;
  width: 28.461538%; /* 333px / 1170px = 28.461538% */
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  background: #252525;
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.rectangle-7-copy-holder {
  left: 35.726494%;
  min-height: 330px;
  padding: 169px 0 99px 0.25641%; /* 3px / 1170px = 0.25641% */
  position: absolute;
  top: 0;
  width: 28.461538%; /* 333px / 1170px = 28.461538% */
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  background: #1becde;
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.rectangle-7-copy-2-holder {
  left: 71.53846%;
  min-height: 330px;
  padding: 173px 0 96px 0.42735%; /* 5px / 1170px = 0.42735% */
  position: absolute;
  top: 0;
  width: 28.461538%; /* 333px / 1170px = 28.461538% */
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  background: #252525;
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.group-1 {
  left: 11.282051%;
  position: absolute;
  top: 55px;
  width: 78.20513%; /* 915px / 1170px = 78.20513% */
}
.medical-stethoscope-variant {
  float: left;
  margin: 19px 0 0;
  width: 67px;
}
.phone-auricular-symbol {
  float: left;
  margin: 18px 0 0 38.032787%; /* 348px / 915px = 38.032787% */
  width: 72px;
}
.disability {
  float: left;
  margin: 0 0 0 38.797813%; /* 355px / 915px = 38.797813% */
  width: 73px;
}
.row-2 {
  margin: 69px auto 0;
  min-height: 57px;
  padding: 20px 2.5625% 18px 2.625%; /* 41px / 1600px = 2.5625%, 42px / 1600px = 2.625% */
  position: relative;
  width: 13.75%; /* 220px / 1600px = 13.75% */
  background: #1becde;
}
.text-22 {
  float: left;
  margin: 0 2.189781% 0 3.649635%; /* 3px / 137px = 2.189781%, 5px / 137px = 3.649635% */
  width: 84.67153%; /* 116px / 137px = 84.67153% */
  font-weight: 600;
  text-align: center;
}
.text-23 {
  float: left;
  margin: 5px 0 0;
  width: 18px;
}
.row-3 {
  margin: 140px 0 0;
  min-height: 700px;
  overflow: hidden;
  padding: 88px 13.375% 174px 13.4375%; /* 214px / 1600px = 13.375%, 215px / 1600px = 13.4375% */
  position: relative;
  background: #d0eef0;
}
.col-12 {
  float: left;
  position: relative;
  width: 40.136635%; /* 470px / 1171px = 40.136635% */
}
.text-24 {
  color: #030202;
  font-size: 50.96px;
  font-weight: bold;
}
.row-11 {
  margin: 57px 0 0;
  position: relative;
  width: 100%; /* 470px / 470px = 100% */
}
.group-3 {
  float: left;
  position: relative;
  width: 12.978724%; /* 61px / 470px = 12.978724% */
}
.medical-2 {
  display: block;
  margin: 0 auto;
  width: 59px;
}
.medical-stethoscope-variant-2 {
  display: block;
  margin: 70px auto 0;
  width: 58px;
}
.biopsy-2 {
  display: block;
  margin: 61px auto 0;
  width: 61px;
}
.col-21 {
  float: right;
  margin: 6px 0 0;
  position: relative;
  width: 75.74468%; /* 356px / 470px = 75.74468% */
}
.text-25 {
  color: #040101;
  font-size: 30.96px;
  font-weight: 600;
  line-height: 29.4px;
}
.text-26 {
  margin: 76px 0 0;
  color: #0d0a0a;
  font-size: 30.96px;
  font-weight: 600;
  line-height: 29.4px;
}
.text-27 {
  margin: 55px 0 0 0.842697%; /* 3px / 356px = 0.842697% */
  color: #040303;
  font-size: 30.96px;
  font-weight: 600;
  line-height: 29.4px;
}
.col {
  float: right;
  margin: 33px 0 0;
  min-height: 405px;
  padding: 27px 4.25% 47px; /* 68px / 1600px = 4.25% */
  position: relative;
  width: 48.676346%; /* 570px / 1171px = 48.676346% */
  background: rgba(255, 255, 255, 0.7);
}
.text-28 {
  color: #252525;
  font-size: 30.96px;
  font-weight: 600;
  text-align: center;
}
.rectangle-11-holder {
  margin: 24px 0 0;
  min-height: 35px;
  padding: 0 1.929825%; /* 11px / 570px = 1.929825% */
  position: relative;
  width: 96.77419%; /* 420px / 434px = 96.77419% */
  background: #ffffff;
  color: #bebebe;
  font-size: 16.01px;
  line-height: 35px;
}
.rectangle-11-copy-holder {
  margin: 11px 0 0;
  min-height: 35px;
  padding: 0 2.105263%; /* 12px / 570px = 2.105263% */
  position: relative;
  width: 96.77419%; /* 420px / 434px = 96.77419% */
  background: #ffffff;
  color: #bebebe;
  font-size: 16.01px;
  line-height: 35px;
}
.rectangle-11-copy-2-holder {
  margin: 14px 0 0;
  min-height: 92px;
  padding: 0 2.807018%; /* 16px / 570px = 2.807018% */
  position: relative;
  width: 96.77419%; /* 420px / 434px = 96.77419% */
  background: #ffffff;
  color: #bebebe;
  font-size: 16.01px;
  line-height: 92px;
}
.rectangle-12-holder {
  display: table;
  margin: 28px auto 0;
  min-height: 54px;
  padding: 0 8.245614%; /* 47px / 570px = 8.245614% */
  background: #19e9d9;
  font-size: 20.96px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
}
.rectangle-1-copy-2 {
  display: block;
  height: 74px;
  left: 23%;
  margin: -73px auto 0;
  position: relative;
  width: 54%; /* 864px / 1600px = 54% */
  -webkit-border-radius: 35px 0 0 35px;
  -moz-border-radius: 35px 0 0 35px;
  border-radius: 35px 0 0 35px;
  background: #ffffff;
}
.shape-2-copy-2 {
  display: block;
  margin: -26px auto 0;
  position: relative;
  right: 4.40625%;
  width: 71px;
}
.text-30 {
  margin: 145px 0 0;
  color: #111010;
  font-size: 50.01px;
  font-weight: bold;
  text-align: center;
}
.text-31 {
  margin: 10px 0 0;
  color: #444443;
  font-size: 17.01px;
  text-align: center;
}
.row-6 {
  left: 4.0625%;
  margin: 69px auto 0;
  position: relative;
  width: 65.625%; /* 1050px / 1600px = 65.625% */
}
.wrapper-16 {
  float: left;
  height: 404px;
  margin: 0 0.571429% 0 0; /* 6px / 1050px = 0.571429% */
  position: relative;
  width: 28.571428%; /* 300px / 1050px = 28.571428% */
}
.eduardo-dutra-rpkmkxjw_a0-unsplash {
  left: 0;
  max-width: 270px;
  position: absolute;
  top: 0;
  width: 90%; /* 270px / 300px = 90% */
}
.rectangle-15-holder {
  left: 82%;
  padding: 24px 0 21px;
  position: absolute;
  top: 254px;
  width: 18%; /* 54px / 300px = 18% */
  background: #19e9d9;
}
.text-32 {
  display: block;
  margin: 0 auto;
  width: 16px;
}
.rectangle-15-copy-holder {
  left: 82%;
  padding: 23px 0 22px;
  position: absolute;
  top: 323px;
  width: 18%; /* 54px / 300px = 18% */
  background: #252525;
}
.text-33 {
  display: block;
  margin: 0 auto;
  width: 16px;
}
.col-17 {
  float: left;
  margin: 44px 0 0;
  position: relative;
  width: 70.85714%; /* 744px / 1050px = 70.85714% */
}
.text-34 {
  margin: 0 0 0 0.268817%; /* 2px / 744px = 0.268817% */
  color: #080808;
  font-size: 20.01px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-35 {
  margin: 8px 0 0;
  width: 100%; /* 744px / 744px = 100% */
  color: #444443;
  font-size: 17.01px;
  line-height: 25.4px;
}
.text-36 {
  display: block;
  margin: 22px 0 0 0.268817%; /* 2px / 744px = 0.268817% */
  position: relative;
  width: 27px;
}
.col-4 {
  margin: 150px 0 0;
  min-height: 515px;
  padding: 107px 0 0;
  position: relative;
  background: #252525;
}
.row-5 {
  margin: 0 auto;
  position: relative;
  width: 73.25%; /* 1172px / 1600px = 73.25% */
}
.col-18 {
  float: left;
  position: relative;
  width: 23.634811%; /* 277px / 1172px = 23.634811% */
}
.wrapper-19 {
  position: relative;
}
.layer-1-copy {
  float: left;
  margin: 0 -6.015038% 0 0; /* -8px / 133px = -6.015038% */
  width: 70px;
}
.nurgo-2 {
  margin: 15px 0 0 46.616543%; /* 62px / 133px = 46.616543% */
  font-size: 20px;
  font-weight: 600;
}
.text-37 {
  margin: 53px 0 0 1.805054%; /* 5px / 277px = 1.805054% */
  font-family: Roboto, sans-serif;
  font-size: 24px;
}
.row-15 {
  margin: 44px 0 0 0.722022%; /* 2px / 277px = 0.722022% */
  position: relative;
  width: 99.27798%; /* 275px / 277px = 99.27798% */
}
.group-5 {
  float: left;
  position: relative;
  width: 7.636364%; /* 21px / 275px = 7.636364% */
}
.placeholder-filled-point {
  display: block;
  position: relative;
  width: 16px;
}
.telephone {
  display: block;
  margin: 16px auto 0;
  width: 18px;
}
.black-back-closed-envelope-shape {
  display: block;
  margin: 19px auto 0;
  width: 21px;
}
.col-29 {
  float: right;
  position: relative;
  width: 86.545456%; /* 238px / 275px = 86.545456% */
}
.text-38 {
  margin: 0 0 0 0.420168%; /* 1px / 238px = 0.420168% */
  color: #dfdfdf;
  font-family: Roboto, sans-serif;
}
.text-39 {
  margin: 20px 0 0;
  color: #e1e0e0;
  font-family: Roboto, sans-serif;
}
.text-40 {
  margin: 19px 0 0;
  color: #e1e0e0;
  font-family: Roboto, sans-serif;
}
.col-19 {
  float: left;
  margin: 8px 0 0 4.266212%; /* 50px / 1172px = 4.266212% */
  position: relative;
  width: 17.491468%; /* 205px / 1172px = 17.491468% */
}
.doctors {
  font-family: Roboto, sans-serif;
  font-size: 24px;
}
.text-41 {
  margin: 34px 0 0;
  width: 100%; /* 205px / 205px = 100% */
  color: #d6d6d6;
  font-family: Roboto, sans-serif;
  line-height: 30.4px;
}
.col-20 {
  float: left;
  margin: 6px 0 0 8.27645%; /* 97px / 1172px = 8.27645% */
  position: relative;
  width: 11.860068%; /* 139px / 1172px = 11.860068% */
}
.text-42 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
}
.text-43 {
  margin: 36px 0 0;
  width: 93.52518%; /* 130px / 139px = 93.52518% */
  color: #d6d6d6;
  font-family: Roboto, sans-serif;
  line-height: 30.4px;
}
.col-10 {
  float: left;
  margin: 9px 0 0 10.665529%; /* 125px / 1172px = 10.665529% */
  position: relative;
  width: 23.80546%; /* 279px / 1172px = 23.80546% */
}
.newsletter {
  font-family: Roboto, sans-serif;
  font-size: 24px;
}
.rectangle-12-holder-2 {
  margin: 46px 0 0 0.716846%; /* 2px / 279px = 0.716846% */
  min-height: 40px;
  padding: 0 5.017921%; /* 14px / 279px = 5.017921% */
  position: relative;
  width: 99.28316%; /* 277px / 279px = 99.28316% */
  border: 1px solid #f9f9fb; /*stroke*/
  font-family: Roboto, sans-serif;
  line-height: 40px;
}
.rectangle-13-holder {
  margin: 34px 0 0;
  min-height: 40px;
  padding: 0 12.544803%; /* 35px / 279px = 12.544803% */
  position: relative;
  width: 63.44086%; /* 177px / 279px = 63.44086% */
  background: #19e9d9;
  font-family: Roboto, sans-serif;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
.group-6 {
  margin: 30px 0 0;
  position: relative;
  width: 56.2724%; /* 157px / 279px = 56.2724% */
}
.group-6 > * {
  float: left;
  margin: 0 5.178344% 0 0; /* 8.13px / 157px = 5.178344% */
}
.group-6 > *:last-child {
  margin-right: 0 !important;
}
.facebook-logo-button {
  width: 33px;
}
.twitter-logo-button {
  width: 33px;
}
.linkedin-logo-button {
  width: 33px;
}
.instagram-logo {
  width: 33px;
}
.rectangle-17-holder {
  margin: 65px auto 0;
  min-height: 64px;
  padding: 25px 0 20px;
  position: relative;
  background: #252525;
  -webkit-box-shadow: 0 0 27px 0 rgba(22, 22, 23, 0.43);
  -moz-box-shadow: 0 0 27px 0 rgba(22, 22, 23, 0.43);
  box-shadow: 0 0 27px 0 rgba(22, 22, 23, 0.43); /*drop shadow*/
}
.text-45 {
  max-width: 1600px;
  text-align: center;
}
.text-45 > * {
  text-align: center;
}
.color151515 {
  color: #151515;
}
.color15e4d0 {
  color: #15e4d0;
}
